[Desktop Entry]
Name=security
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=code .
Icon=/home/badger/Dropbox/null/configuration/icons/vscode.png
